html,
body {
  scroll-behavior: smooth;
}

.navbar {
  background: rgba(141, 141, 141, 0.05);
}

.navbar a {
  font-size: 2rem;
  color: #ed64ce;
  padding: 7px;
}

.navbar .dropdown-item {
  font-size: 20px;
}

.navbar .dropdown-item:hover {
  background-color: rgb(255, 246, 127);
}

.navbar-nav .active {
  border-bottom: 4px solid yellow;
}

.jumbotron {
  background-image: url("img/back.jpg");
  background-size: cover;
  height: 100vh;
}

.line {
  width: 70%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 20%;
  transform: rotate(-20deg);
  border-color: #e3f308;
}

.zigzag {
  border: none;
  width: 70%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 20px;
  background: linear-gradient(135deg, #ffffff 25%, transparent 25%) -10px 0,
    linear-gradient(225deg, #ffffff 25%, transparent 25%) -10px 0,
    linear-gradient(315deg, #ffffff 25%, transparent 25%),
    linear-gradient(45deg, #ffffff 25%, transparent 25%);
  background-size: 20px 20px;
  background-color: #fcf977;
}

.container {
  padding-top: 100px;
  padding-bottom: 200px;
}

.container img {
  height: 150%;
  width: 150%;
}

.container h1 {
  font-size: 100px;
  text-align: center;
  font-family: "Bangers", cursive;
  margin-top: 1em;
  color: #e3b3d8;
  font-weight: bold;
}

.container-fluid {
  height: 98vh;
}

.container-fluid h1 {
  font-size: 80px;
  text-align: center;
  font-family: "Bangers", cursive;
  color: #ac609a;
  font-weight: bold;
}

.container-fluid h2 {
  font-size: 60px;
  text-align: center;
  font-family: "Bangers", cursive;
  margin-top: 3em;
  color: #ac609a;
  font-weight: bold;
}

.container-fluid p {
  font-size: 18px;
}

.container-fluid img {
  width: 90%;
}

.grade-selection {
  margin-top: 20px;
  padding-left: 400px;
}

label.btn.btn-primary {
  background-color: #fcf977;
  border: 2px solid rgb(0, 0, 0);
  margin: 0;
  padding: 10px 15px;
  color: black;
  margin: 10px;
  font-size: 20px;
}

label {
  display: block !important;
}

label.btn.btn-primary:hover {
  background-color: rgb(255, 251, 0);
}

#checkbox {
  display: none;
}

#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(310deg);
  -webkit-transform: rotate(310deg);
  -o-transform: rotate(310deg);
  -ms-transform: rotate(310deg);
  transform: rotate(315deg);
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: #ac609a;
  color: #000;
}
